.about {
   margin-top: 40px;

   @media (min-width:768px) {
      margin-top: 64px;
   }

   &__container {}

   &__body {
      margin-top: 30px;

      @media (min-width:768px) {
         margin-top: 80px;
      }
   }

   &__text {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 28px;
      line-height: 1.16;
      color: #fff;
      max-width: 1064px;

      span {
         background: linear-gradient(180deg, #4c4a54 0%, #27252b 100%);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }

      @media (min-width:768px) {
         font-size: 40px;
      }

      @media (min-width:1024px) {
         font-size: 64px
      }
   }

   &__cards {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (min-width:768px) {
         flex-direction: row;
         justify-content: flex-end;
         gap: 32px;
      }
   }

   &__card {
      --size: calc(80vw - 40px);
      position: relative;
      padding: 15px;
      width: 100%;
      min-height: var(--size);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      border-radius: 24px;
      backdrop-filter: blur(40px);
      background: rgba(31, 30, 31, 0.6);
      overflow: hidden;

      @media (min-width:768px) {
         padding: 32px;
         min-height: 320px;
         max-width: 400px;
      }


      P:last-child {
         color: #3c3a43;
      }

      img {
         position: absolute;
         right: 0;
         top: 0;
         width: 60%;
      }
   }

   &__card-header {
      font-family: var(--second-family);
      font-size: calc(var(--size) * 0.08);
      line-height: 100%;
      color: #fff;
      width: 50%;

      @media (min-width:768px) {
         font-size: 32px;
      }
   }

   &__card-footer {
      align-self: flex-end;
      text-align: right;
      width: 60%;
      font-size: calc(var(--size) * 0.06);
      line-height: 112%;
      color: #fff;

      @media (min-width:768px) {
         font-size: 16px;
      }
   }
}