.about {
   margin-top: 64px;

   &__container {}

   &__body {
      margin-top: 80px;
   }

   &__text {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 64px;
      color: #fff;

      // background: linear-gradient(180deg, #4c4a54 0%, #27252b 100%);
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
   }

   &__cards {
      display: flex;
      justify-content: flex-end;
      gap: 32px;
   }

   &__card {
      position: relative;
      padding: 32px;
      width: 100%;
      max-width: 400px;
      min-height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 24px;
      backdrop-filter: blur(40px);
      background: rgba(31, 30, 31, 0.6);
      overflow: hidden;

      P:last-child {
         color: #3c3a43;
      }

      img {
         position: absolute;
         right: 0;
         top: 0;
         width: 60%;
      }
   }

   &__card-header {
      width: 50%;
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      color: #fff;
   }

   &__card-footer {
      align-self: flex-end;
      width: 60%;
      font-weight: 500;
      font-size: 16px;
      line-height: 112%;
      text-align: right;
      color: #fff;
   }
}