.case {
   will-change: transform;

   &__container {}

   &__body {}

   &__trigger {
      padding-top: var(--height-header);
      min-height: var(--vh);
      overflow: hidden;
      display: flex;
      align-items: center;
   }

   &__sell {}

   &__margin-anhor {
      margin-bottom: 80px;
   }

   &__text {
      position: relative;
      z-index: 2;
      transform: translateZ(-2px);
      width: 100vw;
      display: flex;
      font-size: 40px;
      line-height: 100%;
      color: #fff;

      @media (min-width:768px) {
         font-size: 60px;
      }

      @media (min-width:1024px) {
         font-size: 88px;
      }
   }

   &__text-block {
      min-width: 100vw;
      width: 100vw;
   }

   &__text-table {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (min-width:768px) {
         flex-direction: row;
      }
   }

   &__button {
      margin-top: 30px;
      position: relative;
      z-index: 3;
      display: flex;
      justify-content: center;
   }
}