.collaboration {
   margin-top: 64px;

   &__container {}

   &__body {
      border-radius: 16px;
      overflow: hidden;
   }

   &__baner {
      padding: 15px 15px 0;
      position: relative;
      min-height: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (min-width:768px) {
         min-height: 488px;
         padding: 40px 40px 0;
      }
   }

   &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__title {
      padding-bottom: 30px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      font-weight: 500;
      font-size: 36px;
      line-height: 87%;
      color: #fff;

      @media (min-width:768px) {
         font-size: 65px;
      }

      @media (min-width:992px) {
         font-size: 92px;
      }

      img {
         width: min(100px, 7vw);
      }
   }

   &__content {
      padding: 0 15px 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-between;
      background: #141214;
      border-radius: 0 0 16px 16px;

      @media (min-width:768px) {
         padding: 0 40px 60px;
         flex-direction: row;
      }
   }



   &__list {
      flex: 0 0 50%;

      p {
         margin-bottom: 24px;
         font-size: 14px;
         line-height: 129%;
         color: #64616e;
      }

      ul {
         padding-left: 1.5em;
      }

      li {
         list-style: disc;
         margin-bottom: 16px;
         font-size: 18px;
         line-height: 133%;
         color: #fff;

         @media (min-width:992px) {
            font-size: 24px;
         }
      }

   }

   &__description {
      padding-top: 15px;

      @media (min-width:992px) {
         padding-top: 40px;
         flex: 0 1 344px;
      }

      p {
         margin-bottom: 15px;
         font-size: 14px;
         line-height: 143%;
         color: #64616e;

         @media (min-width:768px) {
            margin-bottom: 40px;
         }
      }
   }
}