.contacts {
   margin-top: 40px;

   &__container {}

   &__subscription {
      margin-top: 40px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      background: linear-gradient(180deg, #0462fe 0%, #1d72fe 100%);
      overflow: hidden;

      @media (min-width:768px) {
         flex-direction: row;
      }
   }

   &__content {
      padding: 15px;

      @media (min-width:768px) {
         flex: 0 0 50%;
         padding: 32px 0 32px 32px;
      }
   }

   &__text {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 110%;
      color: #fff;

      @media (min-width:768px) {
         margin-bottom: 100px;
      }

      @media (min-width:1024px) {
         font-size: 40px;
      }
   }

   &__image {
      position: relative;
      flex: 0 0 50%;
      padding-bottom: 100%;

      @media (min-width:768px) {
         padding-bottom: 0;

      }

      img {
         position: absolute;
         top: 0;
         left: 0;
         margin-left: -5%;
         max-width: 105%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__body {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media (min-width:992px) {
         overflow: hidden;
         border-radius: 16px;
         flex-direction: row;
         gap: 0;
      }

      &>* {
         min-height: calc(85vw - 40px);
         overflow: hidden;
         border-radius: 16px;

         @media (min-width:768px) {
            min-height: max(300px, 50vw);
         }

         @media (min-width:992px) {
            border-radius: 0;
            flex: 0 0 50%;
            min-height: min(550px, 38.1vw);
         }
      }
   }

   &__map {
      position: relative;
      padding: 3.9vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: linear-gradient(159deg, #363636 0%, rgba(37, 37, 37, 0.58) 100%);

      @media (max-width:1249.98px) {
         .nav-panel {
            min-height: auto;
            padding: 2px;

            a {
               padding: 0.4vw;
            }

            svg {
               width: 1.6vw;
               height: 1.6vw;
            }
         }
      }

      @media (max-width:991.98px) {
         .nav-panel {
            min-height: auto;
            padding: 2px;

            a {
               padding: 0.78vw;
            }

            svg {
               width: 3vw;
               height: 3vw;
            }
         }
      }

      @media (min-width:768px) {
         padding: 30px;
      }

   }


   &__map-header {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.9vw;

      @media (min-width:768px) {
         gap: 15px;
      }
   }

   &__map-group {
      flex-wrap: inherit;
      display: inherit;
      align-items: inherit;
      gap: inherit;
   }

   &__map-phone {
      font-size: 4vw;
      line-height: 100%;
      white-space: nowrap;

      @media (min-width:992px) {
         font-size: 2.3vw;
      }

      @media (min-width:1250px) {
         font-size: 29px;
      }
   }

   &__map-address {
      flex: 1 1 auto;
      font-size: 2.5vw;
      line-height: 108%;
      text-align: right;
      max-width: 22vw;

      @media (min-width:992px) {
         font-size: 1.76vw;
      }

      @media (min-width:1250px) {
         max-width: 150px;
         font-size: 22px;
      }
   }

   &__map-bg {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__link {
      position: relative;
      z-index: 1;

      a {
         display: inline-block;
         border-radius: 30px;
         padding: 8px 10px 6px;
         font-size: 10px;
         text-align: center;
         line-height: 100%;
         color: #020102;
         background: #fff;

         @media (min-width:768px) {
            padding: 17px 18px 15px;
            font-size: 18px;
         }

         span {
            color: #f00;
         }
      }
   }

   &__consultation {
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
      background-color: #1D1D1D;

      @media (min-width:768px) {
         padding: 30px;
      }
   }

   &__consultation-header {
      display: flex;
      justify-content: space-between;
      gap: 10px;
   }

   &__consultation-title {
      max-width: 280px;
      font-size: 20px;
      line-height: 112%;

      @media (min-width:768px) {
         font-size: 29px;
      }

      span {
         color: #64616e;
      }
   }

   &__consultation-foto {
      text-align: center;

      img {
         border-radius: 7px;
         width: 120px;
      }
   }

   &__consultation-text {
      max-width: 216px;
      font-size: 10px;
      line-height: 114%;
      color: #64616e;

      @media (min-width:768px) {
         font-size: 13px;
      }
   }

   &__consultation-footer {
      display: flex;
      gap: 10px;
      align-items: center;

      &>* {
         flex: 1 1 auto;
      }
   }

   &__consultation-price {
      font-size: 20px;
      line-height: 112%;

      @media (min-width:768px) {
         font-size: 29px;
      }
   }


}