.first {
   position: relative;
   min-height: var(--vh);
   display: flex;
   align-items: flex-end;
   z-index: -1;

   &__gallery {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      background: linear-gradient(180deg, rgba(2, 1, 2, 0) 0%, #020102 100%);
   }

   &__gallery-image {
      position: absolute;
      transform: translate(-50%, -50%) scale(0.3);
      z-index: -1;
      animation: image_scale 1s 3s forwards;
   }

   &__gallery-image-1 {
      top: 24%;
      left: 16%;

      img {
         width: 20vw;
      }
   }

   &__gallery-image-2 {
      top: 30%;
      left: 33%;

      img {
         width: 24.23vw;
      }
   }

   &__gallery-image-3 {
      top: 33%;
      left: 67%;

      img {
         width: 31vw;
      }
   }

   &__gallery-image-4 {
      top: 18%;
      left: 95%;

      img {
         width: 17.78vw;
      }
   }

   &__gallery-image-5 {
      top: 51%;
      left: 3.8%;

      img {
         width: 22.5vw;
      }
   }

   &__gallery-image-6 {
      top: 66%;
      left: 32.6%;

      img {
         width: 29.72vw;
      }
   }

   &__gallery-image-7 {
      top: 68%;
      left: 65%;

      img {
         width: 22.57vw;
      }
   }

   &__gallery-image-8 {
      top: 53%;
      left: 92%;

      img {
         width: 22.57vw;
      }
   }

   &__container {}

   &__text {
      position: relative;
      font-family: var(--second-family);
      font-weight: 500;
      font-size: min(100px, 7.19vw);
      line-height: 86%;
      letter-spacing: 0.02em;
      color: #fff;
      z-index: 2;

      p {
         background: linear-gradient(180deg, #4c4a54 0%, #27252b 100%);
         background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }
   }
}

@keyframes image_scale {
   from {
      transform: translate(-50%, -50%) scale(0.3);
   }

   to {
      transform: translate(-50%, -50%) scale(1);
   }

}