.proof {

   &__container {}

   &__body {
      margin: 0 auto;
      max-width: 1094px;
   }

   &__block {
      --gap: 10px;
      margin-bottom: var(--gap);
      display: flex;
      flex-direction: column;
      gap: var(--gap);

      @media (min-width:768px) {
         flex-direction: row;
      }

      @media (min-width:992px) {
         --gap: 32px;

         &:nth-child(odd) .proof__card:first-child {
            flex: 0 0 46.25%;
         }

         &:nth-child(even) .proof__card:last-child {
            flex: 0 0 46.25%;
         }
      }
   }

   &__card {
      position: relative;
      padding: 16px;
      flex: 0 0 calc(50% - var(--gap) / 2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 110vw;
      border-radius: 16px;
      overflow: hidden;

      @media (min-width:768px) {
         border-radius: 24px;
         min-height: min(598px, 55vw);
      }

      @media (min-width:992px) {
         padding: 32px;
         flex: 1 1 auto;
      }


      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      ._pc &:hover {
         .proof__arrow {
            opacity: 1;
         }
      }

      &.black {
         .proof__text {
            color: #020102;
         }

         .proof__arrow {
            path {
               stroke: #000;
            }
         }

      }
   }

   &__arrow {
      position: relative;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.5s;

      ._touch & {
         display: none;
      }

   }

   &__header {
      display: flex;
      justify-content: space-between;
   }

   &__text {
      position: relative;
      z-index: 1;
      max-width: 384px;
      font-size: 6.3vw;
      line-height: 100%;
      letter-spacing: 0.01em;

      @media (min-width:768px) {
         font-size: 24px;
      }

      @media (min-width:1024px) {
         font-size: 32px;
      }
   }

   &__tags {
      position: relative;
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 4px;

      span {
         display: inline-flex;
         align-items: center;
         padding: 6px 12px 4px;
         font-size: 12px;
         line-height: 100%;
         letter-spacing: 0.01em;
         color: #fff;
         backdrop-filter: blur(40px);
         background: rgba(31, 30, 31, 0.6);
         border-radius: 20px;

         @media (min-width:768px) {
            font-size: 14px;
         }

         @media (min-width:1024px) {
            padding: 9px 16px 7px;
            font-size: 16px;
         }
      }
   }

   &__more {
      display: block;
      border-radius: 30px;
      padding: 12px 8px 10px;
      font-size: 14px;
      line-height: 100%;
      color: #fff;
      text-align: center;
      backdrop-filter: blur(40px);
      background: #1f1e1f;

      @media (min-width:768px) {
         padding: 19px 20px 17px;
         font-size: 20px;
      }
   }
}