@font-face {
   font-family:
      "Aeonik Pro";
   font-display: swap;
   src:
      url("../fonts/Aeonik_Pro/Aeonik_Pro_Regular.woff2") format("woff2"),
      url("../fonts/Aeonik_Pro/Aeonik_Pro_Regular.woff") format("woff");
   font-weight:
      400;
   font-style: normal;
}

@font-face {
   font-family:
      "Aeonik Pro";
   font-display: swap;
   src:
      url("../fonts/Aeonik_Pro/Aeonik_Pro_Medium.woff2") format("woff2"),
      url("../fonts/Aeonik_Pro/Aeonik_Pro_Medium.woff") format("woff");
   font-weight:
      500;
   font-style: normal;
}

@font-face {
   font-family:
      "Helios";
   font-display: swap;
   src:
      url("../fonts/Helios/Helios_Bold.woff2") format("woff2"),
      url("../fonts/Helios/Helios_Bold.woff") format("woff");
   font-weight:
      700;
   font-style: normal;
}

@font-face {
   font-family:
      "Helios";
   font-display: swap;
   src:
      url("../fonts/Helios/Helios_Regular.woff2") format("woff2"),
      url("../fonts/Helios/Helios_Regular.woff") format("woff");
   font-weight:
      400;
   font-style: normal;
}

@font-face {
   font-family:
      "Helios";
   font-display: swap;
   src:
      url("../fonts/Helios/Helios_Light.woff2") format("woff2"),
      url("../fonts/Helios/Helios_Light.woff") format("woff");
   font-weight:
      300;
   font-style: normal;
}