@use '../assets/variablesSCSS.scss' as *;

.footer {
   margin-top: 80px;
   padding-bottom: 40px;

   @media (min-width:1024px) {
      margin-top: 144px;
   }

   &__container {}

   &__body {
      padding-bottom: 40px;
      display: grid;
      column-gap: 10px;
      row-gap: 40px;
      grid-template-columns: 1fr 1fr;

      @media (min-width:992px) {
         grid-template-columns: 1fr 1fr 1fr 1fr;
         row-gap: 0;
         column-gap: 10vw;
      }
   }

   &__icon {
      a {
         display: block;
      }

      img {
         width: 100%;
         max-width: 138px;
      }

      @media (min-width:992px) {
         order: 1;
      }
   }

   &__nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 32px;
      grid-column: span 2;

      @media (max-width:767.98px) {
         .applying {
            width: 100%;

            a {
               width: 100%;
            }
         }
      }

      @media (min-width:992px) {
         margin-bottom: 74px;
         order: 2;
      }
   }

   &__up {

      a,
      button {
         max-width: max-content;
         margin-left: auto;
      }

      @media (min-width:992px) {
         order: 3;
      }
   }

   &__address {
      font-weight: 500;
      font-size: 16px;
      line-height: 112%;
      color: #fff;

      p:first-child {
         margin-bottom: 32px;
      }

      @media (max-width:767.98px) {
         grid-column: span 2;
      }

      @media (min-width:992px) {
         order: 4;
      }
   }

   &__services {
      grid-column: span 2;

      @media (min-width:992px) {
         margin-bottom: 48px;
         order: 5;
      }

      p {
         margin-bottom: 32px;
         font-weight: 500;
         font-size: 24px;
         line-height: 108%;
         letter-spacing: 0.01em;
         color: #fff;
      }

      ol {
         display: grid;
         grid-template-columns: 1fr;
         gap: 16px;

         @media (min-width:768px) {
            grid-template-columns: 1fr 1fr;
         }
      }

      li {
         list-style: none;
      }

      a {
         display: block;
         font-weight: 500;
         font-size: 14px;
         line-height: 114%;
         letter-spacing: 0.01em;
         color: rgba(255, 255, 255, 0.6);
      }
   }

   &__links {
      @media (min-width:992px) {
         order: 6;
      }

      li {
         list-style: none;
         margin-bottom: 16px;
      }

      a {
         font-weight: 500;
         font-size: 18px;
         line-height: 117%;
         letter-spacing: 0.01em;
         color: #fff;

         @media (min-width:768px) {
            font-size: 24px;
         }
      }
   }

   &__under {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;

      @media (min-width:992px) {
         grid-template-columns: 1fr 1fr 1fr 1fr;
      }
   }

   &__under-cell {
      padding-top: 24px;
      font-weight: 500;
      font-size: 12px;
      line-height: 117%;
      color: rgba(255, 255, 255, 0.4);

      /*  &.under-group {
         grid-column: span 2;
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 16px;
      } */
   }
}