:root {
   --font-family: "Aeonik Pro", sans-serif;
   --font-Helios: "Helios", sans-serif;


   --color-white: #ffffff;
   --color-black: #020102;

   --background-content: #141214;

   --color-modal-bg: rgba(2, 1, 2, 0.8);

   --height-header: 88px;
   --vh: 100vh;

   @supports (height: 100dvh) {
      --vh: 100dvh;
   }

}