//  отступы по бокам контейнера 


$var-mobile: 20;
$var-tablet: 20;
$var-desktop: 20;

$padding-mobile: $var-mobile * 1px;
$padding-tablet: $var-tablet * 1px;
$padding-desktop: $var-desktop * 1px;
//  максимальный размер контента в контейнере 
$width-content: 1440px;
$width-big-content: 1920px;
//  максимальный размер контейнера с отступами 
$max-width-container: $padding-desktop * 2 + $width-content;
$max-width-big-container: $padding-desktop * 2 + $width-big-content;
//  transition time 
$tr-time: .3s;
$tr-time-l: .7s;
$bezier: cubic-bezier(.6, -0.01, .24, 1);